/*
	added font-family and background-color to body element so that they would be inherited by all downstream elements
*/
body {
	font-family: Helvetica;
	background-color: #FFF;
	text-align: center;
}

.imageMenu {
	background-image: url("../images/the-flatiron-building.png");
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: #FFF;
}

p {
	font-size: 18px;
	color: #FFF;
}

h2 {
	font-size: 32px;
	font-weight: bold;
	color: #696969;
}

h3 {
	font-size: 23px;
	font-weight: bold;
	color: #696969;
}

h4 {
	font-size: 23px;
	font-weight: bold;
	color: #FFF;
}

h5 {
	font-size: 14px;
	color: #696969;
}

.footer {
	text-align: left;
	font-size: 18px;
	color: #FFF;
	background-color: #696969;
}

.whywouldyoudothis {
	font-size: 11px;
	color: #FFF;

}
