/*
	added font-family and background-color to body element so that they would be inherited by all downstream elements
*/
body {
	font-family: Helvetica;
	background-color: #FFF;
	text-align: center;
}

.imageMenu {
	background-image: url("../images/the-flatiron-building.png");
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: #FFF;
}

p {
	font-size: 18px;
	color: #FFF;
}

